Repository zowe/imperative, pull requests merged in 2020-12, with the labels that each got.

#469 [json-config-next] Handle long credentials on Windows
  packages/config/src/Config.ts
  packages/config/src/doc/IConfigOpts.ts
  packages/config/src/doc/IConfigSecure.ts
  packages/config/src/doc/IConfigVault.ts
  packages/security/src/DefaultCredentialManager.ts
Labels: single-profile

#472 Add unit and integration tests to json-config-next
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/get_credential_manager.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/get_credential_manager_fail.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/list.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/list_values.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/reset_credential_manager.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/__scripts__/set_credential_manager.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/cli.imperative-test-cli.config.get.credential-manager.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/cli.imperative-test-cli.config.list.credential-manager.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/cli.imperative-test-cli.config.reset.credential-manager.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/.old/cli.imperative-test-cli.config.set.credential-manager.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/__resources__/expectedObjects.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/__scripts__/delete_configs.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/__scripts__/get_help.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/__scripts__/init_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/__scripts__/init_config_prompt.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/cli.imperative-test-cli.config.init.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/__scripts__/list_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/__snapshots__/cli.imperative-test-cli.config.list.integration.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/cli.imperative-test-cli.config.list.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/profiles/__scripts__/list_profiles.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/profiles/__snapshots__/cli.imperative-test-cli.config.profiles.integration.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/profiles/cli.imperative-test-cli.config.profiles.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/schema/__scripts__/schema.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/schema/cli.imperative-test-cli.config.schema.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/secure/__scripts__/secure_prompt.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/secure/cli.imperative-test-cli.config.secure.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set-secure/__scripts__/set_secure.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set-secure/cli.imperative-test-cli.config.set-secure.integration.test.ts
  __tests__/__integration__/imperative/package.json
  __tests__/__integration__/imperative/src/imperative.ts
  package-lock.json
  package.json
  packages/config/__tests__/Config.api.test.ts
  packages/config/__tests__/Config.secure.test.ts
  packages/config/__tests__/Config.test.ts
  packages/config/__tests__/ConfigSchema.test.ts
  packages/config/__tests__/__resources__/my_app.config.json
  packages/config/__tests__/__resources__/my_app.config.user.json
  packages/config/__tests__/__resources__/project.config.json
  packages/config/__tests__/__resources__/project.config.user.json
  packages/config/__tests__/__snapshots__/Config.api.test.ts.snap
  packages/config/__tests__/__snapshots__/Config.test.ts.snap
  packages/config/__tests__/__snapshots__/ConfigSchema.test.ts.snap
  packages/config/src/Config.ts
  packages/config/src/doc/IConfigOpts.ts
  packages/imperative/__tests__/config/cmd/get/get.handler.test.ts
  packages/imperative/__tests__/config/cmd/list/list.handler.test.ts
  packages/imperative/__tests__/config/cmd/reset/reset.handler.test.ts
  packages/imperative/__tests__/config/cmd/set/set.handler.test.ts
  packages/imperative/__tests__/plugins/PluginManagementFacility.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/config/cmd/init/init.definition.ts
  packages/imperative/src/config/cmd/init/init.handler.ts
  packages/imperative/src/config/cmd/secure/secure.handler.ts
  packages/imperative/src/config/cmd/set-secure/set-secure.handler.ts
  packages/security/__tests__/DefaultCredentialManager.test.ts
Labels: single-profile, testing

#480 [json-config-next] Fixes for Config secure load
  packages/config/__tests__/Config.test.ts
  packages/config/__tests__/__snapshots__/Config.test.ts.snap
  packages/config/src/Config.ts
  packages/security/__tests__/DefaultCredentialManager.test.ts
  packages/security/src/DefaultCredentialManager.ts
Labels: no-changelog, single-profile

#482 [json-config-next] Add tests to support use case 3
  packages/imperative/__tests__/config/cmd/init/init.handler.test.ts
  packages/imperative/__tests__/config/cmd/secure/secure.handler.test.ts
  packages/imperative/src/config/cmd/secure/secure.handler.ts
Labels: no-changelog, single-profile

#483 Changelog description for v1.18.0
  CHANGELOG.md
Labels: documentation, no-changelog

#485 Json config next no profile dir
  __tests__/src/packages/cmd/profiles/CliProfileManager.test.ts
  __tests__/src/packages/profiles/BasicProfileManager.initialize.spec.ts
  packages/cmd/__tests__/CommandProcessor.test.ts
  packages/cmd/__tests__/profiles/CommandProfileLoader.test.ts
  packages/cmd/src/profiles/CommandProfileLoader.ts
  packages/imperative/src/Imperative.ts
  packages/profiles/src/utils/ProfileIO.ts
  packages/profiles/src/utils/__tests__/ProfileIO.test.ts
Labels: no-changelog, single-profile
