Repository zowe/imperative, pull requests merged in 2021-01, with the labels that each got.

#491 [json-config-next] Json config next tokens
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_config_create.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_global.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_global_user.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_local.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_local_user.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_create_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_create_config_timeout.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_show_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_show_token_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_show_token_rfj_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_logout_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_logout_specify_token_config.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/delete.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/imperative.test.cli.auth.login.fruit.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/imperative.test.cli.auth.logout.fruit.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/__resources__/expectedObjects.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/__snapshots__/cli.imperative-test-cli.config.list.integration.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/cli.imperative-test-cli.config.list.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/profiles/__snapshots__/cli.imperative-test-cli.config.profiles.integration.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/profiles/cli.imperative-test-cli.config.profiles.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/secure/cli.imperative-test-cli.config.secure.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set/cli.imperative-test-cli.config.set.integration.test.ts
  __tests__/__integration__/imperative/src/cli/auth/FruitAuthHandler.ts
  __tests__/__integration__/imperative/src/imperative.ts
  __tests__/src/packages/cmd/profiles/CliProfileManager.test.ts
  __tests__/src/packages/profiles/BasicProfileManager.initialize.spec.ts
  packages/config/__tests__/Config.api.test.ts
  packages/config/__tests__/Config.secure.test.ts
  packages/config/__tests__/Config.test.ts
  packages/config/__tests__/ConfigBuilder.test.ts
  packages/config/__tests__/ConfigSchema.test.ts
  packages/config/__tests__/__snapshots__/Config.api.test.ts.snap
  packages/config/__tests__/__snapshots__/ConfigSchema.test.ts.snap
  packages/config/src/Config.ts
  packages/config/src/ConfigSchema.ts
  packages/config/src/doc/IConfigLoadedProfile.ts
  packages/imperative/__tests__/config/cmd/init/init.handler.test.ts
  packages/imperative/__tests__/config/cmd/secure/secure.handler.test.ts
  packages/imperative/__tests__/config/cmd/set/set.handler.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/auth/__tests__/BaseAuthHandler.config.test.ts
  packages/imperative/src/auth/__tests__/BaseAuthHandler.test.ts
  packages/imperative/src/auth/__tests__/__data__/FakeAuthHandler.ts
  packages/imperative/src/auth/__tests__/__resources__/auth.config.json
  packages/imperative/src/auth/__tests__/__resources__/no_auth.config.json
  packages/imperative/src/auth/handlers/BaseAuthHandler.ts
  packages/rest/__tests__/session/ConnectionPropsForSessCfg.test.ts
  packages/rest/src/session/ConnectionPropsForSessCfg.ts
Labels: no-changelog, team-profile

#492 [json-config-next] Restore app settings and overrides for backward compatibility
  __tests__/config/unit/jest.config.json
  __tests__/src/packages/imperative/plugins/suites/UsingPlugins.ts
  __tests__/src/packages/profiles/CliProfileManager.credentials.spec.ts
  package.json
  packages/1-unused-settings/Readme.txt
  packages/imperative/__tests__/Imperative.test.ts
  packages/imperative/__tests__/OverridesLoader.test.ts
  packages/imperative/__tests__/plugins/PluginManagementFacility.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/OverridesLoader.ts
  packages/imperative/src/plugins/PluginManagementFacility.ts
  packages/imperative/src/plugins/utilities/PMFConstants.ts
  packages/settings/__tests__/AppSettings.test.old.ts
  packages/settings/__tests__/imperative-test-cli/__scripts__/get_credential_manager.sh
  packages/settings/__tests__/imperative-test-cli/__scripts__/get_credential_manager_fail.sh
  packages/settings/__tests__/imperative-test-cli/__scripts__/list.sh
  packages/settings/__tests__/imperative-test-cli/__scripts__/list_values.sh
  packages/settings/__tests__/imperative-test-cli/__scripts__/reset_credential_manager.sh
  packages/settings/__tests__/imperative-test-cli/__scripts__/set_credential_manager.sh
  packages/settings/__tests__/imperative-test-cli/cli.imperative-test-cli.config.get.credential-manager.integration.test.old.ts
  packages/settings/__tests__/imperative-test-cli/cli.imperative-test-cli.config.list.credential-manager.integration.test.old.ts
  packages/settings/__tests__/imperative-test-cli/cli.imperative-test-cli.config.reset.credential-manager.integration.test.old.ts
  packages/settings/__tests__/imperative-test-cli/cli.imperative-test-cli.config.set.credential-manager.integration.test.old.ts
  packages/settings/index.ts
  packages/settings/src/AppSettings.ts
  packages/settings/src/__mocks__/AppSettings.ts
  packages/settings/src/doc/ISettingsFile.ts
  packages/settings/src/errors/SettingsAlreadyInitialized.ts
  packages/settings/src/errors/SettingsNotInitialized.ts
  packages/settings/src/errors/index.ts
  packages/settings/src/persistance/ISettingsFilePersistence.ts
  packages/settings/src/persistance/JSONSettingsFilePersistence.ts
  tsconfig.json
Labels: no-changelog, team-profile

#493 [json-config-next] Add fix and enhancement
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/cli.imperative-test-cli.config.init.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set/__scripts__/set_prompt.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set/cli.imperative-test-cli.config.set.integration.test.ts
  packages/imperative/__tests__/config/cmd/set/set.handler.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/config/cmd/secure/secure.handler.ts
  packages/imperative/src/config/cmd/set/set.definition.ts
  packages/imperative/src/config/cmd/set/set.handler.ts
Labels: no-changelog, team-profile

#497 [json-config-next] Build from GitHub
  package.json
Labels: no-changelog, team-profile

#496 Json config next no prof dir test
  packages/cmd/__tests__/profiles/CommandProfileLoader.test.ts
  packages/cmd/src/doc/profiles/definition/ICommandProfileProperty.ts
  packages/cmd/src/profiles/CommandProfileLoader.ts
  packages/imperative/__tests__/Imperative.test.ts
  packages/imperative/src/Imperative.ts
  packages/profiles/src/utils/ProfileIO.ts
  packages/profiles/src/utils/__tests__/ProfileIO.test.ts
Labels: no-changelog, team-profile

#499 [json-config-next] Fixes after restoring app settings and overrides
  __tests__/src/packages/profiles/__snapshots__/CliProfileManager.credentials.spec.ts.snap
  packages/config/__tests__/Config.secure.test.ts
  packages/config/__tests__/Config.test.ts
  packages/config/__tests__/__snapshots__/Config.test.ts.snap
  packages/config/src/Config.ts
  packages/config/src/doc/IConfigVault.ts
  packages/imperative/__tests__/Imperative.test.ts
  packages/imperative/__tests__/OverridesLoader.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/OverridesLoader.ts
  packages/imperative/src/plugins/utilities/PMFConstants.ts
  packages/imperative/src/plugins/utilities/PluginIssues.ts
Labels: no-changelog, team-profile

#501 Update Next branch with changes in Master
  .github/workflows/changelog.yml
  .github/workflows/imperative.yml
  CHANGELOG.md
  __tests__/__integration__/cmd/__tests__/integration/cli/prompting/cli.prompting.integration.test.ts
  __tests__/__integration__/cmd/src/cli/validate/syntax/Syntax.definition.ts
  __tests__/__integration__/imperative/package.json
  __tests__/src/packages/cmd/SyntaxValidator.integration.test.ts
  __tests__/src/packages/cmd/ValidationTestCommand.ts
  package-lock.json
  package.json
  packages/cmd/src/doc/option/ICommandOptionDefinition.ts
  packages/cmd/src/syntax/SyntaxValidator.ts
  packages/cmd/src/syntax/__tests__/SyntaxValidator.test.ts
  packages/utilities/src/TextUtils.ts
Labels: no-changelog

#507 Fixes for tokens and secure credential storage
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_global.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_global_user.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_local.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_config_local_user.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/cli.imperative-test-cli.config.init.integration.test.ts
  packages/config/src/ConfigUtils.ts
  packages/imperative/__tests__/config/cmd/init/init.handler.test.ts
  packages/imperative/__tests__/config/cmd/secure/secure.handler.test.ts
  packages/imperative/__tests__/config/cmd/set/set.handler.test.ts
  packages/imperative/src/auth/__tests__/BaseAuthHandler.config.test.ts
  packages/imperative/src/auth/handlers/BaseAuthHandler.ts
  packages/imperative/src/config/cmd/init/init.definition.ts
  packages/imperative/src/config/cmd/init/init.handler.ts
  packages/imperative/src/config/cmd/secure/secure.handler.ts
  packages/imperative/src/config/cmd/set/set.handler.ts
Labels: no-changelog, team-profile

#510 Changes to Allow Prompting the Daemon Client
  __tests__/__integration__/cmd/__tests__/integration/cli/auth/Cmd.cli.auth.login.fruit.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/auth/__scripts__/base_profile_and_auth_login_create_profile_timeout.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/__scripts__/base_profile_and_auth_login_create_config_timeout.sh
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/imperative.test.cli.auth.login.fruit.integration.test.ts
  package-lock.json
  package.json
  packages/cmd/__tests__/response/CommandResponse.test.ts
  packages/cmd/src/doc/response/api/handler/IHandlerResponseConsoleApi.ts
  packages/cmd/src/doc/response/api/handler/IPromptOptions.ts
  packages/cmd/src/response/CommandResponse.ts
  packages/config/src/Config.ts
  packages/imperative/__tests__/config/cmd/init/init.handler.test.ts
  packages/imperative/__tests__/config/cmd/secure/secure.handler.test.ts
  packages/imperative/__tests__/config/cmd/set/set.handler.test.ts
  packages/imperative/src/auth/__tests__/BaseAuthHandler.config.test.ts
  packages/imperative/src/auth/__tests__/BaseAuthHandler.test.ts
  packages/imperative/src/auth/handlers/BaseAuthHandler.ts
  packages/imperative/src/config/cmd/init/init.handler.ts
  packages/imperative/src/config/cmd/secure/secure.handler.ts
  packages/imperative/src/config/cmd/set/set.handler.ts
  packages/rest/__tests__/session/ConnectionPropsForSessCfg.test.ts
  packages/rest/src/session/ConnectionPropsForSessCfg.ts
  packages/rest/src/session/doc/IOptionsForAddConnProps.ts
  packages/utilities/__tests__/CliUtils.test.ts
  packages/utilities/__tests__/DaemonUtils.test.ts
  packages/utilities/__tests__/__snapshots__/DaemonUtils.test.ts.snap
  packages/utilities/src/CliUtils.ts
  packages/utilities/src/DaemonUtils.ts
  packages/utilities/src/doc/IDaemonHeaderOptions.ts
Labels: no-changelog

#529 Json config next deprecated
  CHANGELOG.md
  __tests__/__integration__/cmd/__tests__/integration/cli/auth/Cmd.cli.auth.login.fruit.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/auth/Cmd.cli.auth.logout.fruit.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/profiles/Cmd.cli.profile.option.mapping.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/profiles/Cmd.cli.profiles.create.banana-profile.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/profiles/Cmd.cli.profiles.create.insecure.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/read/Cmd.cli.read.profile.integration.test.ts
  __tests__/__integration__/cmd/__tests__/integration/cli/root/__snapshots__/Cmd.cli.root.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/profiles/cli.imperative-test-cli.profiles.create.secured-profile.integration.test.ts
  __tests__/src/example_clis/with_experimental/ExperimentalExample.spec.ts
  __tests__/src/packages/imperative/plugins/suites/UsingPlugins.ts
  __tests__/src/packages/profiles/CliProfileManager.credentials.spec.ts
  __tests__/src/packages/profiles/__snapshots__/CliProfileManager.credentials.spec.ts.snap
  packages/cmd/__tests__/help/DefaultHelpGenerator.test.ts
  packages/cmd/__tests__/help/__snapshots__/DefaultHelpGenerator.test.ts.snap
  packages/cmd/__tests__/profiles/builders/CompleteProfilesGroupBuilder.test.ts
  packages/cmd/__tests__/profiles/builders/ProfilesDeleteCommandBuilder.test.ts
  packages/cmd/__tests__/profiles/builders/ProfilesValidateCommandBuilder.test.ts
  packages/cmd/__tests__/profiles/builders/__snapshots__/CompleteProfilesGroupBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesCreateCommandBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesDeleteCommandBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesListCommandBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesSetCommandBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesUpdateCommandBuilder.test.ts.snap
  packages/cmd/__tests__/profiles/builders/__snapshots__/ProfilesValidateCommandBuilder.test.ts.snap
  packages/cmd/src/CommandProcessor.ts
  packages/cmd/src/doc/ICommandDefinition.ts
  packages/cmd/src/help/DefaultHelpGenerator.ts
  packages/cmd/src/help/abstract/AbstractHelpGenerator.ts
  packages/config/__tests__/Config.test.ts
  packages/config/src/Config.ts
  packages/config/src/ConfigUtils.ts
  packages/imperative/__tests__/profiles/handlers/CreateProfilesHandler.test.ts
  packages/imperative/__tests__/profiles/handlers/ListProfilesHandler.test.ts
  packages/imperative/__tests__/profiles/handlers/NewDeleteProfilesHandler.test.ts
  packages/imperative/__tests__/profiles/handlers/UpdateProfilesHandler.test.ts
  packages/imperative/__tests__/profiles/handlers/ValidateProfileHandler.test.ts
  packages/imperative/src/profiles/builders/CompleteProfilesGroupBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesCreateCommandBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesDeleteCommandBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesListCommandBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesSetCommandBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesUpdateCommandBuilder.ts
  packages/imperative/src/profiles/builders/ProfilesValidateCommandBuilder.ts
  packages/imperative/src/profiles/handlers/CreateProfilesHandler.ts
  packages/imperative/src/profiles/handlers/ListProfilesHandler.ts
  packages/imperative/src/profiles/handlers/NewDeleteProfilesHandler.ts
  packages/imperative/src/profiles/handlers/SetDefaultProfilesHandler.ts
  packages/imperative/src/profiles/handlers/UpdateProfilesHandler.ts
  packages/imperative/src/profiles/handlers/ValidateProfileHandler.ts
  packages/profiles/src/constants/ProfilesConstants.ts
  packages/profiles/src/utils/ProfileIO.ts
  packages/profiles/src/utils/__tests__/ProfileIO.test.ts
  packages/utilities/__tests__/CliUtils.test.ts
  packages/utilities/src/CliUtils.ts
Labels: enhancement, profiles

#530 Update next with latest changes from master
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  packages/logger/src/Logger.ts
Labels: no-changelog

#532 Don't show secure values from config in plain text
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/imperative.test.cli.auth.login.fruit.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/auth/imperative.test.cli.auth.logout.fruit.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/init/cli.imperative-test-cli.config.init.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/__snapshots__/cli.imperative-test-cli.config.list.integration.test.ts.snap
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/list/cli.imperative-test-cli.config.list.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/secure/cli.imperative-test-cli.config.secure.integration.test.ts
  __tests__/__integration__/imperative/__tests__/__integration__/cli/config/set/cli.imperative-test-cli.config.set.integration.test.ts
  packages/config/__tests__/Config.test.ts
  packages/config/src/Config.ts
  packages/imperative/__tests__/Imperative.test.ts
  packages/imperative/__tests__/OverridesLoader.test.ts
  packages/imperative/__tests__/config/cmd/init/init.handler.test.ts
  packages/imperative/__tests__/config/cmd/list/list.handler.test.ts
  packages/imperative/__tests__/config/cmd/profiles/profiles.handler.test.ts
  packages/imperative/__tests__/config/cmd/schema/schema.handler.test.ts
  packages/imperative/src/Imperative.ts
  packages/imperative/src/OverridesLoader.ts
  packages/imperative/src/config/cmd/init/init.handler.ts
  packages/imperative/src/config/cmd/list/list.handler.ts
  packages/imperative/src/config/cmd/profiles/profiles.handler.ts
  packages/imperative/src/config/cmd/schema/schema.handler.ts
Labels: no-changelog, team-profile
